<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance_Mode</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='logo.png')}}">


    <!-- <link rel="icon" href="/youtube/images/hd-youtube-logo-png-transparent-background-20.png" type="image/x-icon"> -->
    <style>
      a:link,
      a:visited {
        background-color: #1877f2;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 6px;
      }
      a:hover,
      a:active {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div style=" font-weight: bold;text-align: center;margin-top: 10ex ;
 text-transform: capitalize; "><h2>Attendance Mode</h2><br>
   
</div>

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      "
    >
      <div>
        <a href="./student" class="btn">Student Data</a>
      </div>
      <div style="margin: 0 0 0 12em">
        <a href="./Staff" class="btn">Staff Data</a>
      </div>
      <br />
    </div>
    <div style="margin-top: 30px; display: flex; justify-content: center">
      <img
        src="https://www.digi-val.com/assets/img/cover-img.svg"
        style="width: 35%"
      />
    </div>
  </body>
</html>